

body{
    --main-background: #ffffff;
    --main-font: #000000;
    --contrast-color: #B8FF20;
    --contrast-color-hover: #D9FF88;
    background-color: var(--main-background);
    color: var(--main-font);
    overflow-x: hidden;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    font-size: 15px;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

@import "components/fonts";


@import "components/header";
