<div class="container">
    <div class="header__wrappper">
        <div class="header__burger">
            <span></span>
        </div>


        <div class="header__logo logo">
            <img src="" alt="">
        </div>
        
        <nav class="header__nav">
            <ul class="header__menu menu-header">
                <li class="menu-header__item">
                   <a href="">О нас</a> 
                </li>

                <li class="menu-header__item">
                   <a href="">Услуги</a> 
                </li>
                <li class="menu-header__item">
                   <a href="">Врачи</a> 
                </li>
                <li class="menu-header__item">
                   <a href="">Акции</a> 
                </li>
                <li class="menu-header__item">
                   <a href="">Диагностика</a> 
                </li>
                <li class="menu-header__item">
                   <a href="">Анализы</a> 
                </li>
                <li class="menu-header__item">
                   <a href="">Пациентам</a> 
                </li>
                <li class="menu-header__item">
                    <a href="">Контакты</a>
                </li>
                
            </ul>

            <div class="header__search">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 21.0002L16.7 16.7002M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    
            </div>
        </nav>

        <div class="header__info">
            <a href="" class="header__num">+7 911 210 02 87</a>
            <p class="header__description">
                Ежедневно 8:00 - 20:00
            </p>
        </div>

        <div class="header__btns">
            <button class="header__account">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13C14.7614 13 17 10.7614 17 8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8C7 10.7614 9.23858 13 12 13ZM12 13C14.1217 13 16.1566 13.8429 17.6569 15.3431C19.1571 16.8434 20 18.8783 20 21M12 13C9.87827 13 7.84344 13.8429 6.34315 15.3431C4.84285 16.8434 4 18.8783 4 21" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    
            </button>
            
            <button class="header__sign">
                Записаться
            </button>
        </div>



    </div>
</div>