<div class="doctors-mb-mob">


    <div class="doctors-mb-mob__shape">
        
    </div>

    
    <div class="doctors-mb__doctor doctor-mb">

        <div class="doctor-mb__img">
            <img src="/img/doctors/anastasi.png" alt="">
        </div>

    </div>



    <div class="doctors-mb__doctor doctor-mb">

        <div class="doctor-mb__img">
            <img src="/img/doctors/irina.png" alt="">
        </div>

    </div>



    <div class="doctors-mb__doctor doctor-mb">

        <div class="doctor-mb__img">
            <img src="/img/doctors/alina.png" alt="">
        </div>

    

    </div>




    
    <div class="doctors-mb__doctor doctor-mb">

        <div class="doctor-mb__img">
            <img src="/img/doctors/maria.png" alt="">
        </div>

     

    </div>



    <div class="doctors-mb__doctor doctor-mb">

        <div class="doctor-mb__img">
            <img src="/img/doctors/vitalii.png" alt="">
        </div>



    </div>



</div>




<div class="main-banner__wrapper mb">
    
    <h1 class="mb__title">
        Ваше здоровье <br> <span>в надежных руках</span>
    </h1>
    <p class="mb__description">
        Создаем комфортные условия для вашего лечения и восстановления, обеспечивая максимальную эффективность и удобство на каждом этапе.
    </p>
    <a data-fancybox href="#modal" class="long-btn mb__btn">Связаться с клиникой</a>


</div>




<div class="doctors-mb">
    <div class="doctors-mb__left">


        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/irina.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>



        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/vitalii.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>



        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/anastasi.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>

    </div>

    <div class="doctors-mb__right">


        
        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/maria.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>



        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/alina.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>



        <div class="doctors-mb__doctor doctor-mb">

            <div class="doctor-mb__img">
                <img src="/img/doctors/ilia.png" alt="">
            </div>

            <div class="doctor-mb__info">
                <div class="doctor-mb__name">
                    Ирина Васильва
                </div>
                <div class="doctor-mb__number">
                    <span>Стаж</span> 12 лет
                </div>
            </div>

        </div>





    </div>

</div>