<div class="container">
    <div class="welcome__wrapper">
        <div class="welcome__left">
            <h2 class="welcome__title">
                Добро пожаловать в сеть клиник <span>«Медицинские Технологии»</span> 
            </h2>
            <p class="welcome__description">
                Медицинский центр "Medical Technologies" в Санкт-Петербурге предлагает широкий спектр высококачественных медицинских услуг. Мы используем передовые технологии и новейшее оборудование для точной диагностики и эффективного лечения. Наши опытные специалисты, обладающие многолетним опытом, обеспечивают индивидуальный подход к каждому пациенту.
            </p>
            <a href="" class="long-btn welcome__btn">
                Узнать больше о клинике
            </a>
        </div>

        <div class="welcome__right">
            <a 
                data-fancybox
                data-src="/img/main.png"
                data-caption="Building"
            >
                <img src="/img/main.png" alt="">
            </a>
        </div>
    </div>
</div>