
.header__wrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.header__burger {
}
.header__logo {
}
.logo {
}
.header__nav {
}
.header__menu {
    display: flex;

}
.menu-header {
}
.menu-header__item {
    padding: 10px 8px;
}
.header__search {
}
.header__info {
}
.header__num {
}
.header__description {
}
.header__btns {
}
.header__account {
}
.header__sign {
}