body {
    --light-color: #ffffff;
    --dark-color: #222222;
    --dark-color-second: #1D2020;
    --dark-color-3: #000;
    --color-first: #677371;
    --color-second: #828E8C;
    --color-third: #E5E8E7;
    --color-forth: #F5F6F6;
    --contrast-color: #3E989A;
    --contrast-color-second: #D7F0EE;
    --contrast-color-hover: #5ab6b8;
    background-color: var(--main-background);
    color: var(--main-font);
    overflow-x: hidden;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
  }
  
  